/*
* Chp-01: Created a HTML structure where a class alert have p tag and a styling is also 
* given to alert class. So if another alert div is initiated or used it will display a 
* block which is empty. So to check if alert class have any another child element inside 
* it and only then to apply the styling
*/

/*
.alert {
	border: 3px solid darkgreen;
	margin: 1em;
	padding: 1em;
	background-color: seagreen;
	color: #fff;
	border-radius: 4px;
}

 This will apply only when the alert class doesn't have any child element
 .alert:empty {
 	display: none;
 }

To wrap it up and to make a smare code
If alert class is not empty, then apply the below code


.alert:not(:empty) {
	border: 3px solid darkgreen;
	margin: 1em;
	padding: 1em;
	background-color: seagreen;
	color: #fff;
	border-radius: 4px;
}
*/

/*
* Chp: 02
*/


/*
* Targetting the first p tag inside article tag
*/
// article p:first-of-type {
// 	font-size: 2rem;
// 	font-style: italic;
// }

/*
* Targetting the last img tag inside article tag
*/
// article img:last-of-type {
// 	border: 10px solid slategray;
// }

/*
* Targetting only blockquote tag inside the document
*/
// blockquote:only-of-type {
// 	border-left: 5px solid slategray;
// 	padding-left: 1rem;
// 	font-weight: bold;
// 	font-style: italic;
// 	color: slategray;
// }

/*
* Targetting only odd index paragraph
*/
/*article p:nth-of-type(odd) {
	color: pink;
}
*/

/*
* Every third p tag
*/
// article p:nth-of-type(3n) {
// 	color: pink;
// }

/*
* Try different formula like 4n+3, etc to select the element
*/

/*
* Chp: 03
*/


// nav {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 5rem;
// 	height: 100%;
// 	background-color: blue;
// 	color: #fff;
// }

// ul {
// 	margin: 0;
// 	padding: 0;
// }

// aside {
// 	position: fixed;
// 	top: 0;
// 	right: 0;
// 	height: 100%;
// 	width: 20rem;
// 	background-color: grey;
// 	color: #fff;
// }

// main {
// 	margin-left: 5rem;
// 	width: calc(100% - 25rem); /*(100% - (nav + aside))*/
// 	background-color: red;
// 	color: #fff;
// }

// @media screen and (max-width: 40em) {
// 	nav {
// 		width: 3rem;
// 	}

// 	aside {
// 		width: 12rem;
// 	}

// 	main {
// 		margin-left: 3rem;
// 		width: calc(100% - 15rem);
// 	}
// }

/*
* Chp: 04
*/

// .box {
// 	width: 60vw; /* width + margin = 100*/
// 	height: 40vh;
// 	margin: 30vh 20vw 30vh 20vw;
// 	background-color: slategray;
// }

// section {
// 	width: 100vw;
// 	height: 100vh;

// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	text-align: center;

// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-attachment: fixed;
// }

// section:nth-of-type(1) {
// 	background-image: url('https://unsplash.it/1024/683?image=1068');
// }


// section:nth-of-type(2) {
// 	background-image: url('https://unsplash.it/1024/683?image=1073');
// }


// section:nth-of-type(3) {
// 	background-image: url('https://unsplash.it/1024/683?image=1047');
// }

// section:nth-of-type(4) {
// 	background-image: url('https://unsplash.it/1024/683?image=1032');
// }

// section p {
// 	width: 100%;
//     font-size: 2rem;
//     color: #fff;
//     font-style: italic;
// }

body {
	color: #2e603c;
}

button {
	cursor: pointer;
	padding: 1.4rem;
	border: 0;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	background-color: #3ac569;
}

/*
* Want to set the color of the button inside section from bady tag and not the one being set 
* in global
*/

section button {
	color: unset; //will inherit color from section tag as not color is assigned to section tag it will take body's color and not from button tag. Same goes with other styling
}




















































